* {
    font-family: "IBM Plex serif", serif;
    color: #FFFF;
}

body {
    background-color: royalblue;
    max-width: 800px; 
    width: 90%;       
    margin: 0 auto; 
}

i {
    text-shadow: -1px 2px rgb(44, 42, 42);
}

h1 {
    font-size: 52px;
    font-weight: 900;
    font-style: bold;
    margin-bottom: 0px;
}

.headerLink, ul, a {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 22px;
    text-decoration: none;
}

.headerLink, a:hover {
    color: #dcd5d5;
}

.paraHeader {
    font-size: 20px;
    margin-top: 4px;
}

em {
    font-weight: bold;
}

.headerBtn, .submit {
    background-color: #4169E1;
    color:#FFFF;
    border: 2.5px solid #FFFF;
    border-radius: 4px;
    font-size: 20px;
}

.headerBtn:hover {
    background-color : #bcbbbb;
    transition: background-color 0.3 ease, transform 0.3s ease;
}

hr {
    max-width: 90vh;
    border-radius: 10px;  
    margin-top: 50px;
    margin-bottom: 50px;
}

#Services {
    display: flex;
    gap: 20px;
    max-width: 90vw;
    margin-top: 20px;
    margin-bottom: 20px;
}

.servicesHeader, .contactTitle {
    font-weight: 500;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.dynamic, .static {
    border: 2px solid #FFFF;
    border-radius: 10px;
    text-shadow: -1px 2px rgb(69, 67, 67);
}

.staticHeader, .staticPara, .dynamicHeader, .dynamicPara {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.dynamicHeader, .staticHeader {
    font-size: 28px;
}

.staticPara, .dynamicPara {
    font-size: 18px;
}

.contactContainer {
    height: 60vh;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contactInputs {
    height: auto;
    width: auto;
    border: none;
    outline: none;
    padding: 25px;
    font-weight: 500;
    color: black;
    border-radius: 10px;
}

.contactInputs::placeholder {
    color: #a9a9a9;
}

.contactInputs:focus {
    border: 2px solid #162e76;
}

.contactInputs textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
