body {
    font-family: "IBM Plex serif", serif;
    background-color: rgb(245, 247, 250);
    max-width: 70vw;
    width: 90%;       
    margin: 0 auto; 
    color: rgb(245, 247, 250);
}

i {
    text-shadow: -3px 5px 5.8px rgb(0, 0, 0);
    font-weight: bold;
}

h1 {
    font-size: 48px;
    font-style: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

#header {
    background-color: #100A71;
    padding: 40px;
    border-radius: 4px;
}

.linkList, .navLink{
    font-size: 18px;
    color: rgb(245, 247, 250);
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    gap: 20px;
}

.headerLink, a:hover {
    filter: brightness(0.9);
}

.paraHeader {
    font-size: 16px;
    margin: 0px;
}

.contactBtn {
    background-color: rgb(255, 194, 53);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.contactBtn {
    margin-top: 18px;
    padding: 6px;
}

.contactBtn:hover {
   filter: brightness(0.9);
   transition: background-color 0.3 ease, transform 0.3s ease;
}

.popup {
    width: 400px;
    border-radius: 6px;
    background-color: #100A71;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px 30px;
    visibility: hidden;
}

.open-popup{
    visibility: visible;
    background: rgba(15, 10, 113, 0.2);
    backdrop-filter: blur(10px);
}
.popup h2 {
    margin-top: 2em;
} 

.popup button {
    margin-top: 30px ;
}

/* Service Section */
.services { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    background-color: #100A71;
    border-radius: 4px;
    padding: 15px;
}

.serviceHeader, .servicePara {
    margin: 0px;
    text-align: center;
    grid-column: 1 / -1;
}

.serviceHeader {
    font-size: 48px;
}

.servicePara {
    font-size: 16px;
}

.webDev, .webDesign, .webMaintenance {
    background-color: rgb(245, 247, 250);
    color: black;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    padding: auto;
}

.webDev, .webDesign, .webMaintenance{
    margin-top: 20px;
}


/* Project Section */

.project{
    border-radius: 4px;
    margin-top: 30px;
    background-color: #100A71;   
}

.projectTitle {
    font-size: 48px;
    text-align: center;
    margin: 0px;
}

.projectLink{
    display: flex;
    justify-content: flex-end;
    color: rgb(255, 194, 53);
}

.projectLink:hover{
    filter: brightness(0.9);
}

.fa-arrow-right{
    padding-top: 6px;
}

/* Contact Section */

.contactContainer {
    background-color: #100A71;
    border-radius: 4px;
    padding-bottom: 15px;
     margin-top: 30px;
}

.contactTitle{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 12px;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0px 20px;
}

.contact label {
    width: 289px;
    text-align: left;
    margin: 0;
    display: block;
}

.contactInputs, .contact textarea {
    width: 289px;
    display: block;
    margin: 0;
    border: none;
    outline: none;
    padding: 25px;
    font-weight: 500;
    color: black;
    border-radius: 10px;
}

.contact textarea {
    min-height: 149px;
    resize: vertical;
    padding-top: 15px;
}

.submit {
    font-size: 16px;
    padding: 6px;
    background-color: rgb(255, 194, 53);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit:hover{
    filter: brightness(0.9);
    transition: background-color 0.3 ease, transform 0.3s ease;
}
