body {
    font-family: "IBM Plex serif", serif;
    max-width: 70vw;
    width: 90%;       
    margin: 0 auto; 
    color: rgb(245, 247, 250);
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

/* Header */

#header {
    background-color: #100A71;
    padding: 40px;
    border-radius: 4px;
    margin: 30px 0px;
    border: 0.6em solid rgb(245, 247, 250);
}

 .highLight {
    border-bottom: 2px solid rgb(245, 247, 250); 
}

#header h1 {
    font-size: 3em;
    font-style: bold;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    text-shadow: 0px 5px 0px rgb(0, 0, 0);
}

.linkList, .navLink{
    font-size: 1.2em;
    color: rgb(245, 247, 250);
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    gap: 20px;
}

/* Project */

.projectContainer {
    border: 0.6em solid rgb(245, 247, 250);
    background-color: #100A71;
    border-radius: 4px;
    padding-bottom: 15px;
    margin: 30px 0px;
}

.projectContainer h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 12px;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
  padding: 1em;
}

.imageContainer {
  position: relative;
  width: 100%;
  border-radius: 0.2em;
  overflow: hidden; 
}

.imageContainer img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(217, 217, 217, 0.85);
  padding: 0.75em;
}

.textContainer p {
  margin: 0;
  font-size: 0.9rem;
  color: #000;
}


/* contact */


.contactContainer {
    border: 0.6em solid rgb(245, 247, 250);
    background-color: #100A71;
    border-radius: 4px;
    padding-bottom: 15px;
    margin: 30px 0px;
}

.contactTitle{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 12px;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 0px 20px;
}

.contact label {
    width: 289px;
    text-align: left;
    margin: 0;
    display: block;
}

.contactInputs, .contact textarea {
    width: 289px;
    display: block;
    margin: 0;
    border: none;
    outline: none;
    padding: 25px;
    font-weight: 500;
    color: black;
    border-radius: 10px;
}

.contact textarea {
    min-height: 149px;
    resize: vertical;
    padding-top: 15px;
}

.submit {
    font-size: 16px;
    padding: 6px;
    background-color: rgb(255, 194, 53);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit:hover{
    filter: brightness(0.9);
    transition: background-color 0.3 ease, transform 0.3s ease;
}
